/*large layoout 1280px */


@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
}

/*md layout 768 */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  
    .about-list ul li {
        width: 100%;
        display: block;
        margin-bottom: 7px;
    }

}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .home-title h1 {
        font-size: 25px;
    }
    .home-title h2 {
        font-size: 20px;
    }
    .home-title p {
        font-size: 14px;
    }
    .home-btn a {
        width: 100px;
    }
    .home-btn a span::before {
        font-size: 11px;
    }
    .home-btn a span::after {
        font-size: 11px;
    }
    .about-area {
        padding: 50px 0;
    }
    .about-img:before {
        content:none;
    }
    .about-list ul li {
        width: 100%;
        display: block;
        margin-bottom: 7px;
        font-size: 15px;
    }
    .title-shadow {
        font-size: 40px;
    }
    .title h2 {
        font-size: 30px;
    }
    .mt-100 {
        margin-top: 25px;
    }
    .work-menu ul li {
       width: 100%;
    }
    .work-menu.mt-100 {
        margin-top: 25px;
    }
    footer h1 {
        font-size: 25px;
    }
    footer p {
        font-size: 14px;
    }

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
}